:root {
    font-family: 'Grape Nuts', cursive, 'Times New Roman', Times, serif;

}

.content {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.side-bar{
    height: 100%;
    width: auto;
}

.side-bar > img{
 width: 50%;
 height: 100%;
}