*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Grape Nuts', cursive, 'Times New Roman', Times, serif;

}

.content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.side-bar{
    height: 100%;
    width: auto;
}

.side-bar > img{
 width: 100%;
 height: 100%;
}